################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Rest_API_Practice_withDOTNET/.vs/Rest_API_Practice_withDOTNET/FileContentIndex
